
{% block content %}
<div class="footer-spacing"></div>

    <footer class="page-footer green-color main">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">More Info</h5>
                    <p class="grey-text text-lighten-4">Budget bird was hand made with love, care, and coffee in Portland Oregon. <br>
                        Thank you Anthony and Irron for the backup!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{% url 'budget:home' %}">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'budget:library' %}">Resources Library</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'budget:faq' %}">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'budget:about' %}">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'budget:contact' %}">Contact us</a></li>
        </ul>
        </div>
    </div>
    </div>
</footer>

{% endblock %}