{% extends 'budget/base.html' %}
{% block title %} Online budget templates {% endblock %}

{% block content %}



<div class='row container'>

    <h2 class="center-align">Welcome to the library!</h2>
        <p class="center-align">
            Below you will find a large assortment of resources for use to help a variety of demographics. Everything from helping students keep textbook costs low and book reccomendations on debt management, to grocery aid for seniors. 
        </p>
    
    <div class="students col s4 m4">

        <h3 class='title center-align'>
            STUDENTS
        </h3>
        
        <h4>
            <a href="https://www.gutenberg.org/">Project Gutenberg</a>
        </h4>
        <p>Choose among free epub and Kindle eBooks, download them or read them online. 
            You will find the world’s great literature here, with focus on older works for which U.S. copyright has expired. 
            Thousands of volunteers digitized and diligently proofread the eBooks, for you to enjoy</p>
            
            <h4>
                <a href="http://libgen.rs/">Library Genesis</a>
            </h4>
            <p>Library Genesis is community ran, meaning we cannot endorse or speak for any/all resources available on this site.
                However its largly regarded as one of the best librarys of free resources for textsbooks around.
            </p>
            
            <h4>
                <a href="https://www.nasfaa.org/State_Financial_Aid_Programs">USA by state financial aid programs</a>
            </h4>
            <p>Almost every state education agency has at least one grant or scholarship available to residents, 
                and many have a long list of student aid programs. 
                Eligibility is usually restricted to state residents attending a college in-state, but that's not always the case</p>
                
                
    </div>

    <div class="seniors col s4 m4">
        <h3 class='title center-align'>
            Seniors
        </h3>
        <h4>
            <a href="https://www.voa.org/older-adults">
                Volunteers of America
            </a>
        </h4>
        <p>We provide senior centers and day programs, home repair and homemaker services, information and referral, Meals On Wheels and group meal programs. 
            We also provide transportation, companion services, protection against abuse and neglect, and case management services.</p>
        <h4>
            <a href="https://www.seniorliving.org/">
                Senior living
            </a>
        </h4>
        <p>Our team publishes research on issues facing assisted living and aging.
            We cover various topics from governmental programs to economic and social issues facing seniors.</p>
        <h4>
            <a href="https://www.feedingamerica.org/">
                Feeding America
            </a>
        </h4>
        <p>In the United States, 5.3 million seniors face hunger. That's 1 in 14 seniors.
            63% of seniors visiting food banks say they have to choose between food and medical care. Feeding America seeks to change that.</p>
    </div>

        
    <div class="debt col s4 m4">
        <h3 class='center-align'>
            Debt Education
        </h3>
        <h4>
            <a href="https://www.ramseysolutions.com/tools?snid=free-tools">
                Ramsey solutions free tools
            </a>
        </h4>
        <p>
            Paying off debt? Selling your house? Switching your career? You came to the right place. 
            Check out our tools and calculators and start crushing those goals—whatever they might be.
        </p>

        <h4>
            <a href="https://www.ramseysolutions.com/tools?snid=free-tools">
                Book: Richest man in babylon
            </a>
        </h4>
        <p>
            This "book of cures for lean purses" is a guide to financial understanding. 
            It offers insights that will aid you acquire money, keep money and make your surpluses earn more money. 
        </p>
        <h4>
            A note from the designer:
        </h4>
        <p>
            There is alot of bad information floating around in the world and especially on the internet regarding debt. This limits my comfort in sharing anything other than absolute debt-free mindset material as debt is the opposite of positive yearly growth in income.
        </p>
    </div>
    
</div>
<div class='row container'>


    
    
    <div class="investing col s4 m4">
        <h3 class='center-align'>
            Getting started investing
        </h3>
        <h4>
            <a href="https://www.ramseysolutions.com/retirement/investment-calculator?snid=free-tools.retirement-and-investing.investment-calculator">
                Ramsey retirement estimation tool
            </a>
        </h4>
        <p>
            Put your current investment totals, your contributions and your annual rate of return into the investment calculator, 
            and we'll show you how much you can expect to have in your investment portfolio over time.
        </p>
        <h4>
            <a href="https://www.ramseysolutions.com/retirement/net-worth-calculator?snid=free-tools.retirement-and-investing.net-worth-calculator">
                How to calculate net worth
            </a>
        </h4>
        <p>
            Your net worth is what you own (assets) minus what you owe (liabilities). Bottom line: It’s an overall measure of wealth.
        </p>
        <h4>
            <a href="http://pages.stern.nyu.edu/~adamodar/New_Home_Page/datafile/histretSP.html">
                Historical returns on popular funds like s&p 500
            </a>
        </h4>
        <p>
            Historical Returns on Stocks, Bonds and Bills: 1928-2020
        </p>
    </div>
    
    
    <div class="college col s4 m4">
        <h3 class='center-align'>
            Childrens college funds
        </h3>
        <h4>
            <a href="https://www.savingforcollege.com/intro-to-529s/what-is-a-529-plan">
                529 savings plan info
            </a>
        </h4>
        <p>
            A 529 plan is an investment account that offers tax benefits when used to pay for qualified education expenses for a designated beneficiary. 
            You can use a 529 plan to pay for college, K-12 tuition, apprenticeship programs and student loan repayments.
        </p>
        <h4>
            <a href='https://www.nationwide.com/lc/resources/investing-and-retirement/articles/start-college-fund-child'>
                Nationwide's Savings plan comparison
            </a>
        </h4>
        <p>
            A brief synopsys of 529s, dverdell EDU savings accounts, UGMA accounts, and how to use your IRA for college purposes.
        </p>
        </div>

        <div class="college col s4 m4">
        <h3 class='center-align'>
            Resources for low income families
        </h3>
        <h4>
            <a href="https://www.benefits.gov/">
                Governemnt Benefits finder 
            </a>
        </h4>
        <p>
            Take this questionnaire to find benefits you may be eligible to receive and be directed to the agency to apply.
            Benefits.gov won't store or share your answers. 
        </p>
        <h4>
            <a href='https://www.medicaid.gov/chip/index.html'>
                Children's Health Insurance Program (CHIP)
            </a>
        </h4>
        <p>
            The Children’s Health Insurance Program (CHIP) provides health coverage to eligible children, 
            through both Medicaid and separate CHIP programs. CHIP is administered by states, according to federal requirements. 
            The program is funded jointly by states and the federal government.
        </p>
        <h4>
            <a href='https://www.acf.hhs.gov/ocs/faq/liheap-faqs-consumers'>
                utility assistance 
            </a>
        </h4>
        <p>
            LIHEAP, which stands for Low Income Home Energy Assistance Program, 
            is a federal program that helps low income households pay for heating or cooling their homes.  In most states, 
            it also helps people make sure their homes are more energy efficient by paying for certain home improvements, known as weatherization.
        </p>
    </div>
    
</div>
            
            
            
            





{% endblock %}

<h3 class='center-align'>
    Debt information:
</h3>
<h4>
    <a href="">

    </a>
</h4>
<p>
    
</p>